.shop{
    width: 1%;
    justify-content: center;
    object-fit: cover;
    margin-left: 10%;
    margin-top: 2%;
}

.lupa{
    width: 1%;
    justify-content: center;
    object-fit: cover;
    margin-left: 5%;
    margin-top: 2%;
}

.lupa2{
    justify-content: center;
    object-fit: cover;
    margin-left: 18%;
    margin-top: -1.5%;
    font-size: 60%;
}

.logo{
    width: 3%;
    justify-content: center;
    margin-left: 48%;
    margin-top: -2%;
}

.call{
    width: 1%;
    justify-content: center;
    object-fit: cover;
    margin-left: 8%;
    margin-top: -3%;
}

.table1{
    font-size: 70%;
    justify-content: center;
    object-fit: cover;
    margin-left: 61%;
    margin-top: -3%;
}

.navbar-nav{
    margin-left: 35%;
}
.navbar{
    margin-top: 2.5%;
}

.fon{
    width: 60%;
    justify-content: center;
    object-fit: cover;
    margin-left: 40%;
    margin-top: 2%;
}

.text4{
    font-weight: 800;
    font-size: 240%;
    margin-left: 25%;
    margin-top: -7%;
}

a{
    color: black;
    text-decoration: none;
}

.pi{
    margin-left: 15%;
    margin-top: 10%;
    font-weight: 300;
    font-size: 90%;
}

.tex2{
    font-weight: 800;
    font-size: 200%;
    margin-left: 20%;
    margin-top: 5%;
}

.fon2{
    width: 50%;
    margin-left: 20%;
    justify-content: center;
    object-fit: cover;
}

.table7{
    font-weight: 500;
    font-size: 200%;
    margin-left: 10%;
    margin-top: 8%;
}

.table8{
    font-size: 100%;
    margin-left: 10%;
    margin-top: 1%;
    color: gray;
}

.table9{
    font-weight: 600;
    font-size: 100%;
    margin-left: 50%;
    margin-top: -7%;

}

.table10{
    font-size: 100%;
    margin-left: 50%;
    margin-top: 3%;
    color: gray;
    word-spacing: 60px;
}

.table11{
    font-weight: 600;
    font-size: 100%;
    margin-left: 50%;
    margin-top: 4%;

}

.table12{
    font-size: 100%;
    margin-left: 50%;
    margin-top: 3%;
    color: gray;
    word-spacing: 20px;
}

.rets{
    width: 10%;
    justify-content: center;
    object-fit: cover;
    margin-left: 10%;
    margin-top: -10%;
}

.table13{
    font-size: 100%;
    margin-left: 30%;
    margin-top: 3%;
    color: gray;
}

@media (max-width: 375px){
    .lupa2{
        justify-content: center;
        object-fit: cover;
        margin-left: 19%;
        margin-top: -3%;
        font-size: 20%;
    }
    .table1{
        font-size: 20%;
        justify-content: center;
        object-fit: cover;
        margin-left: 62%;
        margin-top: -5%;
    }
    .text4{
        font-weight: 800;
        font-size: 74%;
        margin-left: 25%;
        margin-top: -7%;
    }
    .pi{
        margin-left: 15%;
        margin-top: 10%;
        font-weight: 300;
        font-size: 30%;
    }
    
    .tex2{
        font-weight: 800;
        font-size: 100%;
        margin-left: 20%;
        margin-top: 5%;
    }
    .table7{
        font-weight: 500;
        font-size: 74%;
        margin-left: 10%;
        margin-top: 8%;
    }
    
    .table8{
        font-size: 20%;
        margin-left: 10%;
        margin-top: 1%;
        color: gray;
    }
    
    .table9{
        font-weight: 600;
        font-size: 30%;
        margin-left: 50%;
        margin-top: -7%;
    
    }
    
    .table10{
        font-size: 30%;
        margin-left: 50%;
        margin-top: 3%;
        color: gray;
        word-spacing: 60px;
    }
    
    .table11{
        font-weight: 600;
        font-size: 30%;
        margin-left: 50%;
        margin-top: 4%;
    
    }
    
    .table12{
        font-size: 30%;
        margin-left: 50%;
        margin-top: 3%;
        color: gray;
        word-spacing: 20px;
    }
    
    .rets{
        width: 10%;
        justify-content: center;
        object-fit: cover;
        margin-left: 10%;
        margin-top: -10%;
    }
    
    .table13{
        font-size: 30%;
        margin-left: 30%;
        margin-top: 3%;
        color: gray;
    }
}

@media (max-width: 768px){
    .lupa2{
        justify-content: center;
        object-fit: cover;
        margin-left: 19%;
        margin-top: -1.5%;
        font-size: 30%;
    }
    .table1{
        font-size: 30%;
        justify-content: center;
        object-fit: cover;
        margin-left: 61%;
        margin-top: -3.5%;
    }
    .text4{
        font-weight: 800;
        font-size: 120%;
        margin-left: 25%;
        margin-top: -7%;
    }
    .pi{
        margin-left: 15%;
        margin-top: 10%;
        font-weight: 300;
        font-size: 60%;
    }
    
    .tex2{
        font-weight: 800;
        font-size: 120%;
        margin-left: 20%;
        margin-top: 5%;
    }
    
}